VITE_CONTACT_API_URL=/api/contact
GOOGLE_SHEET_ID=1SRdUUUxTI0EGqSC4JbMXJB0dF46fN0006u0T4iFzuck
GOOGLE_CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
